<div class="page-section pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <article class="blog-details">
            <div class="post-thumb">
              <img src="../assets/img/blog/blog_1.jpg" alt="">
            </div>
            <div class="post-meta">
              <div class="post-author">
                <span class="text-grey">By</span> <a href="#">Admin</a>  
              </div>
              <span class="divider">|</span>
              <div class="post-date">
                <a href="#">22 Jan, 2018</a>
              </div>
              <span class="divider">|</span>
              <div>
                <a href="#">StreetStyle</a>, <a href="#">Fashion</a>, <a href="#">Couple</a>  
              </div>
              <span class="divider">|</span>
              <div class="post-comment-count">
                <a href="#">8 Comments</a>
              </div>
            </div>
            <h2 class="post-title h1">List of Countries without Coronavirus case</h2>
            <div class="post-content">
              <p>The spread of coronavirus took us all by surprise and the speed at which it has spread all over the world is alarming. So much so that it is hard to comprehend that the world still has Covid free countries. Some countries have managed to stave off a coronavirus pandemic since it began in early 2020. Although these countries are reporting zero cases, that does not rule out that some cases may have flu under the radar.

                The UN officially recognizes 193 countries out of which only four countries have not confirmed any cases of Covid-19.</p>

              <p class="text-xl" style="font-weight: 600;">List of countries without coronavirus:</p>
              <p class="text-lg" style="font-weight: 600; color: rgb(31, 132, 31);">North Korea, Asia:</p>
              <p>North Korea was the first country to close its borders. North Korean authorities report zero cases of the pandemic yet.</p> 
              <p>The country closed its borders on January 21 and hasn’t re-opened since. It then implemented strict measures all over the country.</p>
                <br>
              <p class="text-lg" style="font-weight: 600; color: rgb(31, 132, 31);">Turkmenistan, Asia:</p>
              <p>Turkmenistan is a country in Central Asia. Most of its land borders were closed a month ago and many flights were cancelled.</p>
              <p>According to rumors, it was brought to the media's attention that the country had allegedly ‘banned’ the word Coronavirus. However, this wasn’t exactly true.</p>

            </div>
            <div class="post-tags">
              <a href="#" class="tag-link">LifeStyle</a>
              <a href="#" class="tag-link">Food</a>
              <a href="#" class="tag-link">Coronavirus</a>
            </div>
          </article> <!-- .blog-details -->

          <div class="comment-form-wrap pt-5">
            <h3 class="mb-5">Leave a comment</h3>
            <form action="#" class="">
              <div class="form-row form-group">
                <div class="col-md-6">
                  <label for="name">Name *</label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="col-md-6">
                  <label for="email">Email *</label>
                  <input type="email" class="form-control" id="email">
                </div>
              </div>
              <div class="form-group">
                <label for="website">Website</label>
                <input type="url" class="form-control" id="website">
              </div>
  
              <div class="form-group">
                <label for="message">Message</label>
                <textarea name="msg" id="message" cols="30" rows="8" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Post Comment" class="btn btn-primary">
              </div>
  
            </form>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="sidebar">
            <div class="sidebar-block">
              <h3 class="sidebar-title">Search</h3>
              <form action="#" class="search-form">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                  <button type="submit" class="btn"><i class="bi bi-search"></i></button>
                </div>
              </form>
            </div>
            <div class="sidebar-block">
              <h3 class="sidebar-title">Categories</h3>
              <ul class="categories">
                <li><a href="#">Covid19 <span>12</span></a></li>
                <li><a href="#">Neurology <span>22</span></a></li>
                <li><a href="#">Ortho <span>37</span></a></li>
                <li><a href="#">Cardiology <span>42</span></a></li>
                <li><a href="#">Urology <span>14</span></a></li>
              </ul>
            </div>

            <div class="sidebar-block">
              <h3 class="sidebar-title">Recent Blog</h3>
              <div class="blog-item">
                <a class="post-thumb" href="">
                  <img src="../assets/img/blog/blog_1.jpg" alt="">
                </a>
                <div class="content">
                  <h5 class="post-title"><a href="#">Even the all-powerful Pointing has no control</a></h5>
                  <div class="meta">
                    <a href="#"> July 12, 2018</a>
                    <a href="#"> Admin</a>
                    <a href="#"> 19</a>
                  </div>
                </div>
              </div>
              <div class="blog-item">
                <a class="post-thumb" href="">
                  <img src="../assets/img/blog/blog_2.jpg" alt="">
                </a>
                <div class="content">
                  <h5 class="post-title"><a href="#">Even the all-powerful Pointing has no control</a></h5>
                  <div class="meta">
                    <a href="#"> July 12, 2018</a>
                    <a href="#"> Admin</a>
                    <a href="#"> 19</a>
                  </div>
                </div>
              </div>
              <div class="blog-item">
                <a class="post-thumb" href="">
                  <img src="../assets/img/blog/blog_3.jpg" alt="">
                </a>
                <div class="content">
                  <h5 class="post-title"><a href="#">Even the all-powerful Pointing has no control</a></h5>
                  <div class="meta">
                    <a href="#"> July 12, 2018</a>
                    <a href="#"> Admin</a>
                    <a href="#"> 19</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="sidebar-block">
              <h3 class="sidebar-title">Tag Cloud</h3>
              <div class="tagcloud">
                <a href="#" class="tag-cloud-link">Neuro</a>
                <a href="#" class="tag-cloud-link">Cardio</a>
                <a href="#" class="tag-cloud-link">Ortho</a>
                <a href="#" class="tag-cloud-link">Health</a>
                <a href="#" class="tag-cloud-link">Food</a>
                <a href="#" class="tag-cloud-link">Cancer</a>
                <a href="#" class="tag-cloud-link">Fat</a>
                <a href="#" class="tag-cloud-link">Physio</a>
              </div>
            </div>

            <div class="sidebar-block">
              <h3 class="sidebar-title">Healthy-You Blogs</h3>
              <p>Healthy provides users with the latest blogs related to health and medicine, we are bound to deliver verified medical content for our users.</p>
            </div>
          </div>
        </div> 
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- .page-section -->

