<div style="background: radial-gradient(circle at -3.1% -4.3%, rgb(57, 255, 186) 0%, rgb(21, 38, 82) 90%);">
<mat-card>
    <mat-card-content>
        <div class="loginpageform" style="margin-top: 100px; margin-bottom: 80px;">
        <div class="header">
            <h2 style="font-weight: 600;">Login / Sign-up</h2>
        </div>
        <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
            <div class="email-input">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput required />
                    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                        Required Email address
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <span class="aLink">
                    Forgot password
                </span>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" 
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>

                    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                        Required password
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-flat-button color="primary" type="submit" style="border: 2px solid #3b3b3b;">Login</button>
        </form>
        </div>
    </mat-card-content>
</mat-card>
</div>