<div class="page-section-consult">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 py-3">
          <h1>Skip the travel!<br />Get Online Consultation<br /></h1>
          <p class="text-grey mb-4" style="line-height: 30px">
            Private consultation + Audio call · Starts at just ₹199
          </p>

          <br /><a href="#" class="btn btn-primary">Consult Now</a><br /><br />
          <p class="text-grey text-sm" style="padding-top: 30px">
            <i class="bi bi-shield-check"></i> Verified
            Doctors&nbsp;&nbsp;&nbsp;
            <i class="bi bi-newspaper"></i> Digital
            Prescription&nbsp;&nbsp;&nbsp;
            <i class="bi bi-chat-left-text"></i> Free followup
          </p>
        </div>
        <div class="col-lg-6">
          <div class="img-place custom-img-1">
            <img src="../assets/img/doctor_consult.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light">
    <div class="page-section-consult">
      <div class="container">
        <h2 style="padding-top: 25px; font-weight: 600;">25+ Specialities</h2>
        <h6 style="color: #7a7a7a">
          Consult with top doctors across specialities<br />
        </h6>
        <div class="specialitySlideshow">
          <div class="item">
            <div class="card-consult-now">
              <div class="header">
                <img src="../assets/img/specialities/dermatology.jpeg" alt="" />
              </div>
              <div class="body">
                <p class="text-md mb-0" style="text-align: center;">Dermatology</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card-consult-now">
              <div class="header">
                <img src="../assets/img/specialities/gynaecology.jpeg" alt="" />
              </div>
              <div class="body">
                <p class="text-md mb-0" style="text-align: center;">Gynecology</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card-consult-now">
              <div class="header">
                <img src="../assets/img/pediatrician.jpeg" alt="" />
              </div>
              <div class="body">
                <p class="text-md mb-0" style="text-align: center;">Pediatrician</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card-consult-now">
              <div class="header">
                <img src="../assets/img/specialities/general_physician.jpeg" alt="" />
              </div>
              <div class="body">
                <p class="text-md mb-0" style="text-align: center;">General Physician</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card-consult-now">
              <div class="header">
                <img src="../assets/img/specialities/sexology.jpeg" alt="" />
              </div>
              <div class="body">
                <p class="text-md mb-0" style="text-align: center;">Sexology</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="padding: 30px;"></div>
  </div>

  <div class="page-section-consult">
    <div class="container">
      <h2 style="padding-top: 25px; font-weight: 600;">Common health concerns</h2>
      <h6 style="color: #7a7a7a">
        Consult a doctor online for any health issue<br />
      </h6>
      <div class="specialitySlideshow">
        <div class="item">
          <div class="card-consult">
            <div class="header">
              <img src="../assets/img/healthconcern/cough-cold-v1.jpg" alt="" />
            </div>
            <div class="body">
              <a href="#" style="text-decoration: none; color: rgb(41, 40, 40);">
              <p class="text-md mb-0" style="font-weight: 500;">Cough & Cold?</p>
              <p class="text-grey" style="font-weight: 200;">&#8377; 399</p>
              <p class="text-md" style="color: #06be93; font-weight: 550;">Consult Now &gt;</p></a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="card-consult">
            <div class="header">
              <img src="../assets/img/healthconcern/period-problems-v1.jpg" alt="" />
            </div>
            <div class="body">
              <a href="#" style="text-decoration: none; color: rgb(41, 40, 40);">
              <p class="text-md mb-0" style="font-weight: 500;">Period problems?</p>
              <p class="text-grey" style="font-weight: 200;">&#8377; 499</p>
              <p class="text-md" style="color: #06be93; font-weight: 550;">Consult Now &gt;</p></a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="card-consult">
            <div class="header">
              <img src="../assets/img/healthconcern/performance-issues-bed-v1.jpg" alt="" />
            </div>
            <div class="body">
              <a href="#" style="text-decoration: none; color: rgb(41, 40, 40);">
              <p class="text-md mb-0" style="font-weight: 500;">Performance issues in bed?</p>
              <p class="text-grey" style="font-weight: 200;">&#8377; 499</p>
              <p class="text-md" style="color: #06be93; font-weight: 550;">Consult Now &gt;</p></a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="card-consult">
            <div class="header">
              <img src="../assets/img/healthconcern/skin-problems-v1.jpg" alt="" />
            </div>
            <div class="body">
              <a href="#" style="text-decoration: none; color: rgb(41, 40, 40);">
              <p class="text-md mb-0" style="font-weight: 500;">Skin Problems?</p>
              <p class="text-grey" style="font-weight: 200;">&#8377; 449</p>
              <p class="text-md" style="color: #06be93; font-weight: 550;">Consult Now &gt;</p></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section-consult">
    <div class="container">
      <h2 style="padding-top: 25px; font-weight: 600;">Offers</h2><br>
      <div class="card-blog-offer">
          <div class="post-category-offer">
            <a href="#">OFFER</a>
          </div>
            <div class="post-thumb" style="background-color: rgb(193, 225, 186); padding: 50px;">
              <p class="text-xl text-center text-grey" style="padding-top: 10px; font-weight: 600;">Signup and get &#8377; 200 HealthCash now </p>
            </div>
          <div class="body">
            Avail Now!
          </div>
      </div>
    </div>
  </div>

  <!-- .page-section -->

  <div class="page-section">
    <div class="container">
      <h1 class="text-center">Make an Appointment - ☎️</h1>

      <form class="main-form">
        <div class="row mt-5">
          <div class="col-12 col-sm-6 py-2">
            <input type="text" class="form-control" placeholder="Full name" />
          </div>
          <div class="col-12 col-sm-6 py-2">
            <input type="text" class="form-control" placeholder="Email address.." />
          </div>
          <div class="col-12 col-sm-6 py-2">
            <input type="date" class="form-control" />
          </div>
          <div class="col-12 col-sm-6 py-2">
            <select name="departement" id="departement" class="custom-select">
              <option value="general">General Health</option>
              <option value="cardiology">Cardiology</option>
              <option value="dental">Dental</option>
              <option value="neurology">Neurology</option>
              <option value="orthopaedics">Orthopaedics</option>
              <option value="gynecology">Gynecology</option>
            </select>
          </div>
          <div class="col-12 py-2">
            <input type="text" class="form-control" placeholder="Number.." />
          </div>
          <div class="col-12 py-2">
            <textarea name="message" id="message" class="form-control" rows="6"
              placeholder="Enter message.."></textarea>
          </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3 zoomIn">
          Submit Request
        </button>
      </form>
    </div>
  </div>
  <!-- .page-section -->
