<div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-sm-6 py-3">
              <div class="card-blog">
                <div class="header">
                  <div class="post-category">
                    <a href="#">Yoga</a>
                  </div>
                  <a href="yoga.html" target="_blank" class="post-thumb">
                    <img src="../assets/img/yoga.jpeg" alt="">
                  </a>
                </div>
                <div class="body">
                  <h5 class="post-title"><a href="yoga.html" target="_blank">Importance of yoga in our day to day
                      life</a></h5>
                  <div class="site-info">
                    <div class="avatar mr-2">
                      <div class="avatar-img">
                        <img src="../assets/img/person/person_1.jpg" alt="">
                      </div>
                      <span>Mounish Vatti</span>
                    </div>
                    <i class="bi bi-clock-fill"></i> 1 week ago
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 py-3">
              <div class="card-blog">
                <div class="header">
                  <div class="post-category">
                    <a href="#">Meditation</a>
                  </div>
                  <a href="blog-details.html" class="post-thumb">
                    <img src="../assets/img/meditation.jpeg" alt="">
                  </a>
                </div>
                <div class="body">
                  <h5 class="post-title"><a href="blog-details.html">Meditation benefits for the Mind and Body</a></h5>
                  <div class="site-info">
                    <div class="avatar mr-2">
                      <div class="avatar-img">
                        <img src="../assets/img/person/person_4.jpg" alt="">
                      </div>
                      <span>Wizdom Jack</span>
                    </div>
                    <i class="bi bi-clock-fill"></i> 2 weeks ago
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 py-3">
              <div class="card-blog">
                <div class="header">
                  <div class="post-category">
                    <a href="#">Pranayam</a>
                  </div>
                  <a href="blog-details.html" class="post-thumb">
                    <img src="../assets/img/pranayama.jpeg" alt="">
                  </a>
                </div>
                <div class="body">
                  <h5 class="post-title"><a href="blog-details.html">Practicing Pranayama: Facts and Benefits</a></h5>
                  <div class="site-info">
                    <div class="avatar mr-2">
                      <div class="avatar-img">
                        <img src="../assets/img/person/person_3.jpg" alt="">
                      </div>
                      <span>Adams Collier</span>
                    </div>
                    <i class="bi bi-clock-fill"></i> 4 weeks ago
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 py-3">
              <div class="card-blog">
                <div class="header">
                  <div class="post-category">
                    <a href="#">Mindfullness</a>
                  </div>
                  <a href="blog-details" class="post-thumb">
                    <img src="../assets/img/mindfullness.jpeg" alt="">
                  </a>
                </div>
                <div class="body">
                  <h5 class="post-title"><a href="blog-details.html">Reduce stress with Mindfullness Meditation</a></h5>
                  <div class="site-info">
                    <div class="avatar mr-2">
                      <div class="avatar-img">
                        <img src="../assets/img/person/person_1.jpg" alt="">
                      </div>
                      <span>Roger Adams</span>
                    </div>
                    <i class="bi bi-clock-fill"></i> 4 weeks ago
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 py-3">
              <div class="card-blog">
                <div class="header">
                  <div class="post-category">
                    <a href="#">Mudra</a>
                  </div>
                  <a href="blog-details" class="post-thumb">
                    <img src="../assets/img/mudra.jpeg" alt="">
                  </a>
                </div>
                <div class="body">
                  <h5 class="post-title"><a href="blog-details.html">6 Essential Yoga Mudras for Effective Pranayama
                      Practice</a></h5>
                  <div class="site-info">
                    <div class="avatar mr-2">
                      <div class="avatar-img">
                        <img src="../assets/img/person/person_1.jpg" alt="">
                      </div>
                      <span>Roger Adams</span>
                    </div>
                    <i class="bi bi-clock-fill"></i> 2 months ago
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 py-3">
              <div class="card-blog">
                <div class="header">
                  <div class="post-category">
                    <a href="#">Chakra</a>
                  </div>
                  <a href="blog-details" class="post-thumb">
                    <img src="../assets/img/chakras.jpg" alt="">
                  </a>
                </div>
                <div class="body">
                  <h5 class="post-title"><a href="blog-details.html">What is Chakra Meditation? How is it effective?</a>
                  </h5>
                  <div class="site-info">
                    <div class="avatar mr-2">
                      <div class="avatar-img">
                        <img src="../assets/img/person/person_2.jpg" alt="">
                      </div>
                      <span>Diego Simmons</span>
                    </div>
                    <i class="bi bi-clock-fill"></i> 4 weeks ago
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 my-5">
              <nav aria-label="Page Navigation">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div> <!-- .row -->

          <div class="page-section-pharma align-content-center">
            <div class="container" style="border: solid 1px #dfdfdf; border-radius: 20px; padding: 30px;">
              <h2 class="text-left text-grey">Calculate your <b>B</b>ody <b>M</b>ass <b>I</b>ndex</h2>

              <form id="bmi-form" onsubmit="calculateBMI(event)">
                <div class="row mt-5">
                  <div class="col-12 col-sm-5 py-2">
                    <input type="number" class="form-control" id="age" placeholder="Age" required>
                  </div>
                  <div class="col-12 col-sm-5 py-2">
                    <select name="gender" id="gender" class="custom-select">
                      <option value="none">Choose your gender</option>
                      <option value="male" id="m">Male</option>
                      <option value="female" id="f">Female</option>
                    </select>
                  </div>
                  <div class="col-12 col-sm-5 py-2">
                    <input type="number" class="form-control" id="height" placeholder="Height (cm)" required>
                  </div>
                  <div class="col-12 col-sm-5 py-2">
                    <input type="number" class="form-control" id="weight" placeholder="Weight (kg)" required>
                  </div>
                </div>

                <button type="submit" onclick="calculateBMI()" class="btn btn-primary mt-3 zoomIn">Calculate BMI</button>

                <div class="py-2">
                  <p class="text-grey" id="result" style="padding-top: 20px;"></p>
                </div>

                <div class="py-2">
                  <p class="text-grey" id="result-category"></p>
                </div>

              </form>
            </div>
          </div> <!-- .page-section -->

        </div>
        <div class="col-lg-4">
          <div class="sidebar">
            <div class="sidebar-block">
              <h3 class="sidebar-title">Search</h3>
              <form action="#" class="search-form">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                  <button type="submit" class="btn"><i class="bi bi-search"></i></button>
                </div>
              </form>
            </div>
            <div class="sidebar-block">
              <h3 class="sidebar-title">Categories</h3>
              <ul class="categories">
                <li><a href="#">Yoga <span>12</span></a></li>
                <li><a href="#">Meditation <span>22</span></a></li>
                <li><a href="#">Health <span>42</span></a></li>
                <li><a href="#">Pranayam <span>14</span></a></li>
              </ul>
            </div>

            <div class="sidebar-block">
              <h3 class="sidebar-title">Recent Blog</h3>
              <div class="blog-item">
                <a class="post-thumb" href="">
                  <img src="../assets/img/suryanamaskara.jpg" alt="">
                </a>
                <div class="content">
                  <h5 class="post-title"><a href="suryanamaskar.html">How Does Suryanamaskara Transform our Body?</a>
                  </h5>
                  <div class="meta">
                    <a href="#"><i class="bi bi-calendar-fill"></i> July 12, 2018</a>
                    <a href="#"><i class="bi bi-person-fill"></i> Admin</a>
                    <a href="#"><i class="bi bi-chat-dots-fill"></i> 19</a>
                  </div>
                </div>
              </div>
              <div class="blog-item">
                <a class="post-thumb" href="">
                  <img src="../assets/img/blog/Meditating-1.jpg" alt="">
                </a>
                <div class="content">
                  <h5 class="post-title"><a href="#">Importance of meditation and pranayama</a></h5>
                  <div class="meta">
                    <a href="#"><i class="bi bi-calendar-fill"></i> July 12, 2018</a>
                    <a href="#"><i class="bi bi-person-fill"></i> Admin</a>
                    <a href="#"><i class="bi bi-chat-dots-fill"></i> 19</a>
                  </div>
                </div>
              </div>
              <div class="blog-item">
                <a class="post-thumb" href="">
                  <img src="../assets/img/blog/chakra.jpg" alt="">
                </a>
                <div class="content">
                  <h5 class="post-title"><a href="#">Learn more about mudra and chakra</a></h5>
                  <div class="meta">
                    <a href="#"><i class="bi bi-calendar-fill"></i> July 12, 2018</a>
                    <a href="#"><i class="bi bi-person-fill"></i> Admin</a>
                    <a href="#"><i class="bi bi-chat-dots-fill"></i> 19</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="sidebar-block">
              <h3 class="sidebar-title">Tag Cloud</h3>
              <div class="tagcloud">
                <a href="#" class="tag-cloud-link">Yoga</a>
                <a href="#" class="tag-cloud-link">Fitness</a>
                <a href="#" class="tag-cloud-link">Meditation</a>
                <a href="#" class="tag-cloud-link">Health</a>
                <a href="#" class="tag-cloud-link">Food</a>
                <a href="#" class="tag-cloud-link">Cancer</a>
                <a href="#" class="tag-cloud-link">Fat</a>
                <a href="#" class="tag-cloud-link">Physio</a>
              </div>
            </div>
            <div class="sidebar-block">
              <h3 class="sidebar-title">Healthy-You Blogs</h3>
              <p>Healthy provides users with the latest blogs related to health and medicine, we are bound to deliver
                verified medical content for our users.</p>
            </div>
          </div>
        </div>
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- .page-section -->

  <script src="../assets/js/calculatebmi.js"></script>