<header>
  <div class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 text-sm">
            <div class="site-info">
              <a href="#"><i class="bi bi-telephone-fill text-primary"></i>&nbsp;+91 9666646666</a>
              <span class="divider">|</span>
              <a href="#"><i class="bi bi-envelope-at-fill text-primary"></i>&nbsp;healthyyou@gmail.com</a>
            </div>
          </div>
          <div class="col-sm-4 text-right text-sm">
            <div class="social-mini-button">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
            </div>
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .topbar -->
  
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
      <div class="container">
        <a class="navbar-brand title" routerLink="home"><span class="text-primary">Healthy</span>-You</a>
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupport" aria-controls="navbarSupport" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupport">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="blogs">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="yoga">Yoga</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="pharmacy">Pharmacy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="consult">Consult now</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary ml-lg-3" routerLink="login">Login / Signup</a>
            </li>
          </ul>
        </div> <!-- .navbar-collapse -->
      </div> <!-- .container -->
    </nav>
  </header>
  
<router-outlet></router-outlet>

<div class="page-section banner-home bg-image">
  <div class="container py-5 py-lg-0">
    <div class="row align-items-center">
      <div class="col-lg-4 zoomIn">
        <div class="img-banner d-none d-lg-block">
          <img src="../assets/img/mobile_app-removebg-preview.png" alt="">
        </div>
      </div>
      <div class="col-lg-8">
        <h1 class="font-weight-normal mb-3">Get easy access of all features using Healthy-You Application</h1><br><br>
        <a href="#"><img src="../assets/img/google_play.svg" alt=""></a>
        <a href="#" class="ml-2"><img src="../assets/img/app_store.svg" alt=""></a>
      </div>
    </div>
  </div>
</div> <!-- .banner-home -->

<a href="contact.html">
  <div class="page-footer-float">
    <p class="text-lg-center" style="color: azure; padding-top: 15px;"><i class="bi bi-envelope-at-fill"></i> - Mail Us</p>
  </div>
</a>

<footer class="page-footer">
  <div class="container">
    <div class="row px-md-3">
      <div class="col-sm-6 col-lg-3 py-3">
        <h5>Company</h5>
        <ul class="footer-menu">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Career</a></li>
          <li><a href="#">Editorial Team</a></li>
          <li><a href="#">Protection</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3 py-3">
        <h5>More</h5>
        <ul class="footer-menu">
          <li><a href="#">Terms & Condition</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Join as Doctors</a></li>
          <li><a routerLink="pharmacy">Pharmacy</a></li>
          <li><a routerLink="yoga">Health & Yoga</a></li>
          <li><a routerLink="blogs">Blogs</a></li>
          <li><a href="#">Find Hospitals</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3 py-3">
        <h5>Our partners</h5>
        <ul class="footer-menu">
          <li><a href="https://www.1mg.com">Tata 1mg</a></li>
          <li><a href="https://www.pharmeasy.in">PharmEasy</a></li>
          <li><a href="https://www.medplusmart.com">MediPlus</a></li>
      </ul>
      </div>
      <div class="col-sm-6 col-lg-3 py-3">
        <h5>Contact</h5>
        <p class="footer-link mt-2">SJT VIT-Vellore, Katpadi Thiruvalam Rd 500090</p>
        <a href="#" class="footer-link">+91 9666646666</a>
        <a href="#" class="footer-link">healthcare@healthyyou.com</a>

        <h5 class="mt-3">Social Media</h5>
        <div class="footer-sosmed mt-3">
          <a href="https://www.facebook.com" target="_blank"><img src="../assets/img/Socialmedia/facebook.png"
              alt=""></a>
          <a href="https://twitter.com/?lang=en" target="_blank"><img src="../assets/img/Socialmedia/twitter.png"
              alt=""></a>
          <a href="https://instagram.com" target="_blank"><img src="../assets/img/Socialmedia/instagram.png"></a>
          <a href="https://github.com/mounishvatti/healthy-you" target="_blank"><img
              src="../assets/img/Socialmedia/github.png"></a>
        </div>
      </div>
    </div>

    <hr>

    <p id="copyright">Copyright &copy; 2023 <span style="color: aquamarine;">HealthyYou</span>. All right reserved</p>
  </div>
</footer>