<div class="page-section pb-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 py-3">
                <h1>Get the best medicine, at the best price.</h1>
                <p class="text-grey mb-4" style="line-height: 30px; padding-top: 30px;">Let your food be your medicine.<br>Connect
                    with our trusted partners and get the medicine. Just upload the photo of your prescription list
                    & get your Medicine delivered at your doorstep.</p>
                <br><a href="PharmacuticlesPage.html" class="btn btn-primary">Order Now</a><br><br>
            </div>
            <div class="col-lg-6">
                <div class="img-place custom-img-1">
                    <img src="../assets/img/pharmacy_image.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div> <!-- .bg-light -->

<div class="page-section-pharma bg-light">
    <div class="container">
        <h4 class="mb-5 text-grey" style="padding-top: 40px; padding-left: 30px; font-weight: 600;">Browse medicines & health products</h4>
        <h6 class="text-grey" style="padding-left: 30px; color: #4f4d4d;">Health Condition</h6>
        <div class="doctorSlideshow">
            <div class="item">
                <div class="card-pharmacy-cat">
                    <div class="header">
                        <img src="../assets/img/pharma/skincare.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-pharmacy-cat">
                    <div class="header">
                        <img src="../assets/img/pharma/sexualwellness.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-pharmacy-cat">
                    <div class="header">
                        <img src="../assets/img/pharma/weightmanagement.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-pharmacy-cat">
                    <div class="header">
                        <img src="../assets/img/pharma/painrelief.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-section-pharma bg-light">
    <div class="container">
        <h6 class="text-grey" style="padding-left: 30px; color: #4f4d4d;">Categories</h6>
        <div class="doctorSlideshow">
            <div class="item">
                <div class="card-pharmacy-cat">
                    <div class="header">
                        <img src="../assets/img/pharma/babycare.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-pharmacy-cat">
                    <div class="header">
                        <img src="../assets/img/pharma/fitness.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-pharmacy-cat">
                    <div class="header">
                        <img src="../assets/img/pharma/familycare.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-pharmacy-cat">
                    <div class="header">
                        <img src="../assets/img/pharma/alternate medicines.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 20px;">

    </div>
</div>
<br>
<hr style="width: 78%; color: mediumseagreen;">
<br>

<div class="page-section-pharma">
    <div class="container">
        <div class="features">
            <div class="feature-set">
                <p class="text-xs" style="color: lightseagreen; font-weight: 700;">INTRODUCING CONSULTATION DESK</p>
                <a href="doctors.html">
                    <p class="text-xl text-grey">Don't self medicate. Talk to an expert. Consult a doctor in less than 2 minutes.</p>
                    <img style="height: 100;" src="../assets/img/features/mar-card-1.webp" alt="consult">
                </a>
                
            </div>
            
            <div class="feature-set">
                <p class="text-xs" style="color: lightseagreen; font-weight: 700;">INTRODUCING FAST DELIVERY</p>
                <a href="PharmacuticlesPage.html">
                    <p class="text-xl text-grey">Tired of waiting in a queue? Too weak to go down and buy medicines?</p>
                    <img style="height: 100;" src="../assets/img/mar-card-2.png" alt="pharma">
                </a>
                
            </div>
        </div>

    </div>

</div>

<div style="padding: 30px;"></div>

<div class="page-section-pharma bg-light">
    <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 py-3">
            <p class="text-xs" style="color: lightseagreen; font-weight: 600;">COMPREHENSIVE INFORMATION</p>
            <h2>Know your medicine<br></h2>
            <p class="text-grey mb-4" style="line-height: 30px;">Extensive information about your medicine written<br>by verified medical experts</p>
          </div>
          <div class="col-lg-6">
            <div class="img-place custom-img-1">
              <img src="../assets/img/knowyourmedicine-removebg-preview.png" alt="">
            </div>
          </div>
        </div>
      </div>
</div>

<div class="page-section-partners container">
    <h1 style="text-align: center; font-weight: 500;">Our Partners</h1>

    <div class="partners page-section">
        <a href="https://pharmeasy.in/"><img src="../assets/img/our_partners/pharmeasy_logo.png"
                alt="PharmEasy"></a>
        <a href="https://www.1mg.com/"><img src="../assets/img/our_partners/tata1mg.png" alt="TATA 1mg"></a>
        <a href="https://www.medplusmart.com/"><img src="../assets/img/our_partners/medplus.webp" alt="MedPlus"></a>
    </div>
</div>
