<div class="page-hero bg-image overlay-dark" style="background-image: url(../assets/img/bg_image_1.jpeg);">
  <div class="hero-section">
    <div class="container text-center wow zoomIn">
      <span class="subhead">Let's make your life happier</span>
      <h1 class="display-4">Healthy-You</h1>
      <a href="#" class="btn btn-primary">Let's Consult</a>
    </div>
  </div>
</div>
<div class="bg-light">
  <div class="page-section py-3 mt-md-n5 custom-index">
    <div class="container">
      <div class="row justify-content-center">
        <a routerLink="consult" style="color: dimgray;">
        <div class="col-md-4 py-3 py-md-0">
          <div class="card-service wow fadeInUp">
            <div class="circle-shape bg-secondary text-white">
              <span>👨🏻‍⚕️</span>
            </div>
            <p><span>Consult</span> with doctors</p>
          </div>
        </div>
      </a>
        <a routerLink="pharmacy" style="color: dimgray;">
        <div class="col-md-4 py-3 py-md-0">
          <div class="card-service wow fadeInUp">
            <div class="circle-shape bg-accent text-white">
              <span>💊</span>
            </div>
            <p>Pharmacy Store</p>
          </div>
        </div>
        </a>
        <a routerLink="yoga" style="color: dimgray;">
        <div class="col-md-4 py-3 py-md-0">
          <div class="card-service wow fadeInUp">
            <div class="circle-shape bg-accent text-white">
              <span>🧘🏻‍♀️</span>
            </div>
            <p>Health & Yoga</p>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div> <!-- .page-section -->

  <div class="page-section pb-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 py-3 wow fadeInUp">
          <h1>Welcome to Healthy-You<br><br></h1>
          <p class="text-grey mb-4" style="line-height: 30px;">At Healthy-You we make quality healthcare affordable and accessible for over a billion+ Indians. We believe in empowering our users with the most accurate, comprehensive, and curated information and care, enabling them to make better healthcare decisions.</p>
          <a href="#" class="btn btn-primary">Learn More</a><br><br><br>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-delay="400ms">
          <div class="img-place custom-img-1">
            <img src="../assets/img/bg_image.png" alt="" style="padding-bottom: 20px;">
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .bg-light -->
</div> <!-- .bg-light -->

<div class="page-section">
  <div class="container">
    <h1 class="text-center mb-5 wow fadeInUp">Our Doctors - 🩺</h1>

    <div class ="doctorSlideshow">
      <div class="item">
        <div class="card-doctor">
          <div class="header">
            <img src="../assets/img/doctors/doctor_1.jpeg" alt="">
            <div class="meta">
              <a href="#"><i class="bi bi-telephone-fill"></i></a>
              <a href="#"><i class="bi bi-whatsapp"></i></a>
            </div>
          </div>
          <div class="body">
            <p class="text-xl mb-0">Dr. Shaun Murphy</p>
            <span class="text-sm text-grey">Cardiology</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card-doctor">
          <div class="header">
            <img src="../assets/img/doctors/doctor_2.jpeg" alt="">
            <div class="meta">
                <a href="#"><i class="bi bi-telephone-fill"></i></a>
                <a href="#"><i class="bi bi-whatsapp"></i></a>
            </div>
          </div>
          <div class="body">
            <p class="text-xl mb-0">Dr. Neil Melendez</p>
            <span class="text-sm text-grey">Orthopaedics</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card-doctor">
          <div class="header">
            <img src="../assets/img/doctors/doctor_3.jpeg" alt="">
            <div class="meta">
                <a href="#"><i class="bi bi-telephone-fill"></i></a>
                <a href="#"><i class="bi bi-whatsapp"></i></a>
            </div>
          </div>
          <div class="body">
            <p class="text-xl mb-0">Dr. Lim Audrey</p>
            <span class="text-sm text-grey">General Health</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-section bg-light">
  <div class="container">
    <h1 class="text-center wow fadeInUp">📰 - Read top articles from health experts</h1>
    <div class="row mt-5">
      <div class="col-lg-4 py-2 wow zoomIn">
        <div class="card-blog">
          <div class="header">
            <div class="post-category">
              <a href="#">Covid19</a>
            </div>
            <a href="blog-details.html" class="post-thumb">
              <img src="../assets/img/blog/blog_1.jpg" alt="">
            </a>
          </div>
          <div class="body">
            <h5 class="post-title"><a href="blog-details.html">List of Countries without Coronavirus case</a></h5>
            <div class="site-info">
              <div class="avatar mr-2">
                <div class="avatar-img">
                  <img src="../assets/img/person/person_1.jpg" alt="">
                </div>
                <span>Rahul</span>
              </div>
              <i class="bi bi-clock-fill"></i> 1 week ago
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 py-2 wow zoomIn">
        <div class="card-blog">
          <div class="header">
            <div class="post-category">
              <a href="#">Covid19</a>
            </div>
            <a href="blog-details.html" class="post-thumb">
              <img src="../assets/img/blog/blog_2.jpg" alt="">
            </a>
          </div>
          <div class="body">
            <h5 class="post-title"><a href="blog-details.html">Recovery Room: News beyond the pandemic</a></h5>
            <div class="site-info">
              <div class="avatar mr-2">
                <div class="avatar-img">
                  <img src="../assets/img/person/person_1.jpg" alt="">
                </div>
                <span>Rahul</span>
              </div>
              <i class="bi bi-clock-fill"></i> 4 weeks ago
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 py-2 wow zoomIn">
        <div class="card-blog">
          <div class="header">
            <div class="post-category">
              <a href="#">Covid19</a>
            </div>
            <a href="blog-details.html" class="post-thumb">
              <img src="../assets/img/blog/blog_3.jpg" alt="">
            </a>
          </div>
          <div class="body">
            <h5 class="post-title"><a href="blog-details.html">What is the impact of eating too much sugar?</a></h5>
            <div class="site-info">
              <div class="avatar mr-2">
                <div class="avatar-img">
                  <img src="../assets/img/person/person_2.jpg" alt="">
                </div>
                <span>Akash</span>
              </div>
              <i class="bi bi-clock-fill"></i> 2 months ago
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 text-center mt-4 wow zoomIn">
        <a href="blog.html" class="btn btn-primary">Read More</a>
      </div>

    </div>
  </div>
</div> <!-- .page-section -->

<div class="page-section pb-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 py-3 wow fadeInUp">
        <h1>Order medicines online<br><br></h1>
        <p class="text-grey mb-4" style="line-height: 30px;">Find and buy medicines online with Healthy-You Pharmacy. <br>Browse through prescription medicines, OTC products, health & wellness products on an online pharmacy that provides hassle free service across 100+ cities in India 🇮🇳</p>
        <br><a href="about.html" class="btn btn-primary">Pharmacy Store</a><br><br>
      </div>
      <div class="col-lg-6 wow fadeInRight" data-wow-delay="400ms">
        <div class="img-place custom-img-1">
          <img src="../assets/img/pharmacy_image.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div> <!-- .bg-light -->

<hr style="width: 70%; color:limegreen;"> 

<div class="page-section">
  <div class="container">
    <h1 class="text-center mb-5 wow fadeInUp">🏥 - Consult top doctors online for any health concern</h1>

    <div class ="doctorSlideshow">
      <div class="item">
        <div class="card-consult">
          <div class="header">
            <img src="../assets/img/dentistry.jpeg" alt="">
          </div>
          <div class="body">
            <p class="text-xl mb-0">Dentist</p>
            <span class="text-sm text-grey">Teeth troubles? Schedule a dental checkup</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card-consult">
          <div class="header">
            <img src="../assets/img/gynecologist.png" alt="">
          </div>
          <div class="body">
            <p class="text-xl mb-0">Gynecologist</p>
            <span class="text-sm text-grey">Explore for women's health and pregnancy</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card-consult">
          <div class="header">
            <img src="../assets/img/pediatrician.jpeg" alt="">
          </div>
          <div class="body">
            <p class="text-xl mb-0">Pediatrician</p>
            <span class="text-sm text-grey">Get a guidence on eating right and sports nutrition</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card-consult">
          <div class="header">
            <img src="../assets/img/Physiotherapy.jpg" alt="">
          </div>
          <div class="body">
            <p class="text-xl mb-0">Physiotherapist</p>
            <span class="text-sm text-grey">Pulled a muscle? Get it treated by a trained physiotherapist</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr style="width: 70%; color:limegreen;"> 

<div class="page-section">
  <div class="container">
    <h1 class="text-center wow fadeInUp">Make an Appointment - ☎️ </h1>

    <form class="main-form">
      <div class="row mt-5 ">
        <div class="col-12 col-sm-6 py-2 wow fadeInLeft">
          <input type="text" class="form-control" placeholder="Full name">
        </div>
        <div class="col-12 col-sm-6 py-2 wow fadeInRight">
          <input type="text" class="form-control" placeholder="Email address..">
        </div>
        <div class="col-12 col-sm-6 py-2 wow fadeInLeft" data-wow-delay="300ms">
          <input type="date" class="form-control">
        </div>
        <div class="col-12 col-sm-6 py-2 wow fadeInRight" data-wow-delay="300ms">
          <select name="departement" id="departement" class="custom-select">
            <option value="general">General Health</option>
            <option value="cardiology">Cardiology</option>
            <option value="dental">Dental</option>
            <option value="neurology">Neurology</option>
            <option value="orthopaedics">Orthopaedics</option>
            <option value="gynecology">Gynecology</option>
          </select>
        </div>
        <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
          <input type="text" class="form-control" placeholder="Number..">
        </div>
        <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
          <textarea name="message" id="message" class="form-control" rows="6" placeholder="Enter message.."></textarea>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-3 wow zoomIn">Submit Request</button>
    </form>
  </div>
</div> <!-- .page-section -->


